<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sally's Sandos</title>
    </head>
    <body>
        <header>
            <main>
                <!-- 
                This block is used to define the main content area of our pages and
                child templates can override this block to insert their own content.
                -->
                {% block content %} {% endblock %}
            </main>
        </header>
    </body>
</html>
